.hud

   search.hud-item
      .input-group
         span.input-group-addon
            span.glyphicon.glyphicon-search
         input.form-control(
            type="search",
            placeholder="Tools, Documents, Symbols ..."
         )

   minimap.hud-item
      .minimap.thumbnail

   people.hud-item
      .btn-group-vertical.btn-group-sm
         button.btn.btn-primary(type="button")
            span.glyphicon.glyphicon-user
         button.btn.btn-success(type="button")
            span.glyphicon.glyphicon-user
         button.btn.btn-warning(type="button")
            span.glyphicon.glyphicon-user
         button.btn.btn-info(type="button")
            span.glyphicon.glyphicon-user
         button.btn.btn-danger.dropdown-toggle(type="button")
            span.glyphicon.glyphicon-user

   quickbar.hud-item
      .btn-toolbar
         .btn-group
            button.btn.btn-default(type="button")
               span.glyphicon.glyphicon-fullscreen
         .btn-group
            button.btn.btn-default(type="button")
               span.glyphicon.glyphicon-pencil
            button.btn.btn-default(type="button")
               span.glyphicon.glyphicon-comment
            button.btn.btn-default(type="button")
               span.glyphicon.glyphicon-file
