html(lang="en")
   head
      meta(charset="utf8")
   link(href="lib/bootstrap/css/bootstrap.css", rel="stylesheet", type="text/css")
   link(href="index.less.css", rel="stylesheet", type="text/css")
   script(data-main="index.js", src="lib/require.js")

   body
      //hud
      paper
         //expression y = 3x^2 + 4
         //expression
         //   input.bare(type="text")
