html(lang="en")
   head
      meta(charset="utf8")
   link(href="lib/bootstrap/css/bootstrap.css", rel="stylesheet", type="text/css")
   link(href="index.less.css", rel="stylesheet", type="text/css")
   script(data-main="index.js", src="lib/require.js")

   body

      //hud

      .paper(ng-click="unselectAll()"
             ng-dblclick="newItem($event)")

         expression(ng-repeat="expression in expressions", model="expression",
                    expression-id="{{$index}}")

