@grid-color: #d7d6c8;
@paper-color: #eee8d5;

.paper {
   -webkit-transform-origin: top left;
   position: absolute;
   background-color: @paper-color;
   .grid(100px, @grid-color);
   width: 7680px;
   height: 4320px;
}

.default-text-color {
   color: #002b36;
}

.grid(@spacing, @color) {
   background-size: @spacing @spacing;
   background-image:
      -webkit-linear-gradient(
         bottom,
         @color 4px,
         @color 0,
         transparent 0
      ),
      -webkit-linear-gradient(
         right,
         @color 4px,
         @color 0,
         transparent 0
      );
}
